/* Banners - Index*/

.banner-index {
  /* 1. Set a background image - specify image to use as a div // filter = linear-gradiant*/
  background-image: linear-gradient(-50deg, rgba(0,0,0, 0.1) 0%, rgba(0,0,0, 0.3) 50%), url("https://images.unsplash.com/photo-1541529086526-db283c563270?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  /* 2. Make the background image cover the banner div - cover =  will make the image cover the div */
  linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.1) 50%);
  background-size: cover;
  /* 3. Center the image - center image exactly on center of the div */
  background-position: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
}

.banner-index h1 {
  color: white;
  font-size: 60px;
  text-align: left;
  padding-left:0;
  font-weight: bold;
}
.banner-index h2 {
  color: white;
  font-size: 40px;
  font-weight: lighter;
  margin-bottom: 40px;
  padding-left:0;
}

.banner-index h3 {
  color: white;
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 40px;
  padding-left:0;
}

.banner-index-entrees {
    background-image: linear-gradient(-50deg, rgba(0,0,0, 0.1) 0%, rgba(0,0,0, 0.3) 50%), url(https://images.unsplash.com/photo-1532465909-4e0278962a2b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1365&q=80);
    linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.1) 50%): ;
    background-size: cover;
    background-position: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }


.banner-index-plats {
    background-image: linear-gradient(-50deg, rgba(0,0,0, 0.1) 0%, rgba(0,0,0, 0.3) 50%), url(https://images.unsplash.com/photo-1542365887-1149961dccc7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.1) 50%): ;
    background-size: cover;
    background-position: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }


.banner-index-desserts {
    background-image: linear-gradient(-50deg, rgba(0,0,0, 0.1) 0%, rgba(0,0,0, 0.3) 50%), url(https://images.unsplash.com/photo-1564355808539-22fda35bed7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1030&q=80);
    linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.1) 50%): ;
    background-size: cover;
    background-position: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }

.banner-index-autres{
    background-image: linear-gradient(-50deg, rgba(0,0,0, 0.1) 0%, rgba(0,0,0, 0.3) 50%), url(https://images.unsplash.com/photo-1536935338788-846bb9981813?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1372&q=80);
    linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.1) 50%): ;
    background-size: cover;
    background-position: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }
